// petra-ui/src/assets/css/tokens/size-systems/feedback.scss
*[data-size-system="feedback"] {
    --p-padding-x-md: 0.25rem; // 4px
    --p-padding-y-md: 0.25rem; // 4px

    --p-gap-md: 0.25rem; // 4px
}