// petra-ui/src/assets/css/tokens/size-systems/toggle.scss
[data-size-system="toggle"] {
  --psz-sub: calc((var(--psz-src-size) / 2) - 0.25rem);

  --p-toggle-gap: 0.5rem;
  --p-toggle-border-width: 1px;
  --p-toggle-radio-border-width: 1.5px;
  --p-toggle-disabled-opacity: 0.6;
  --p-toggle-tic-stroke: 2.5;

  /* Component specific variables for parts */
  --p-checkbox-width: var(--psz-sub);
  --p-checkbox-height: var(--psz-sub);
  --p-radio-width: var(--psz-sub);
  --p-radio-height: var(--psz-sub);

  --p-switch-track-width: var(--psz-src-size);
  --p-switch-track-height: calc(var(--psz-sub) + var(--p-padding-y-lg));

  --p-switch-indicator-width: var(--psz-sub);
  --p-switch-indicator-height: var(--psz-sub);

  --p-switch-indicator-transform: translateX(0);
  --p-switch-indicator-transform-checked: translateX(calc(var(--p-direction-sign, 1) * (100% - var(--psz-sub))));


  [data-part="switch-indicator-wrapper"] {
    transform: var(--p-switch-indicator-transform);
  }

  [data-part="checkbox-box"],
  [data-part="radio-box"] {
    width: var(--p-checkbox-width);
    height: var(--p-checkbox-height);
    min-width: 0;
  }

  [data-part="switch-track"] {
    min-width: var(--p-switch-track-width);
    min-height: var(--p-switch-track-height);
  }

  [data-part="switch-indicator"] {
    width: var(--p-switch-indicator-width);
    height: var(--p-switch-indicator-height);
  }

  &[data-state="checked"] [data-part="switch-indicator-wrapper"],
  [data-state="checked"] [data-part="switch-indicator-wrapper"] {
    transform: var(--p-switch-indicator-transform-checked);
  }
}