// petra-tokens/color-systems/action.scss
@use "../intent" as *;

[data-color-system="action"] {
  --p-action-disabled-opacity: 0.6;
  // Solid (default)
  --p-bg-color: var(--p-intent-base);
  --p-text-color: var(--p-intent-fg);
  --p-border-color: transparent;

  --p-bg-color-hover: var(--p-intent-hover);
  --p-text-color-hover: var(--p-intent-fg);
  --p-border-color-hover: transparent;

  --p-bg-color-active: var(--p-intent-active);
  --p-text-color-active: var(--p-intent-fg);
  --p-border-color-active: transparent;

  // Outline
  &[data-variant="outline"] {
    --p-bg-color: transparent;
    --p-text-color: var(--p-intent-base);
    --p-border-color: var(--p-intent-base);

    --p-bg-color-hover: var(--p-intent-base);
    --p-text-color-hover: var(--p-neutral-0);
    --p-border-color-hover: var(--p-intent-base);

    --p-bg-color-active: var(--p-intent-base);
    --p-text-color-active: var(--p-neutral-0);
    --p-border-color-active: var(--p-intent-base);
  }

  &[data-variant="text"] {
    --p-bg-color: transparent;
    --p-text-color: var(--p-intent-text);
    --p-border-color: transparent;

    --p-bg-color-hover: var(--p-intent-light);
    --p-text-color-hover: var(--p-intent-text-hover, var(--p-intent-hover));
    --p-border-color-hover: transparent;

    --p-bg-color-active: transparent;
    --p-text-color-active: var(--p-intent-hover);
    --p-border-color-active: transparent;
  }

  &[data-color="transparent"] {
    --p-bg-color: transparent;
    --p-text-color: var(--p-neutral-500);
    --p-border-color: transparent;

    --p-bg-color-hover: transparent;
    --p-text-color-hover: var(--p-neutral-800);
    --p-border-color-hover: transparent;

    &[data-variant="outline"] {
      --p-border-color: var(--p-neutral-500);
      --p-text-color: var(--p-neutral-500);
    }
  }
}