// petra-tokens/color-systems/feedback.scss
@use "../intent" as *;

[data-color-system="feedback"] {
  --p-feedback-message-border-width: 3px;
  --p-feedback-close-opacity: 0.7;
  --p-feedback-close-gap: 0.25rem;

  --p-bg-color: var(--p-intent-light);
  --p-bg-color-hover: var(--p-intent-light);
  --p-text-color: var(--p-intent-text);
  --p-border-color: var(--p-intent-border);

  --p-bg-color-soft: var(--p-intent-light);
  --p-text-color-soft: var(--p-intent-text);

  /* Component specific variables for parts */
  --p-feedback-message-border-color: var(--p-border-color);
  --p-feedback-message-border-width-val: var(--p-feedback-message-border-width, 3px);

  &[data-color="neutral"] {
    --p-bg-color: var(--p-neutral-0);
    --p-bg-color-hover: var(--p-neutral-0);
    --p-text-color: var(--p-neutral-500);
    --p-border-color: var(--p-neutral-200);
  }

  &[data-variant="outline"]:not([data-color="neutral"]):not([data-color="secondary"]) {
    --p-bg-color: var(--p-bg-color-soft);
    --p-bg-color-hover: var(--p-bg-color-soft);
  }

  &[data-part="message"] {
    border: none;
    border-inline-start: var(--p-feedback-message-border-width-val) solid var(--p-feedback-message-border-color);
  }
}