// field.scss
@use "../intent" as *;

[data-color-system="field"] {
  --p-field-border-width: 1px;
  --p-bg-color: var(--p-neutral-100);
  --p-text-color: var(--p-neutral-800);
  --p-border-color: var(--p-neutral-300);

  --p-bg-color-hover: var(--p-bg-color);
  --p-border-color-hover: var(--p-border-color);

  --p-border-color-focus: var(--p-intent-base);
  --p-ring-color-focus: var(--p-intent-light);

  --p-bg-color-disabled: var(--p-neutral-100);
  --p-text-color-disabled: var(--p-neutral-400);
  --p-border-color-disabled: var(--p-neutral-200);

  --p-text-color-muted: var(--p-neutral-500);
  --p-text-color-muted-disabled: var(--p-neutral-300);

  *[data-variant="outline"] {
    --p-bg-color-hover: transparent;
  }

  & [data-part="label"] {
    color: var(--p-text-color);
  }

  & [data-part="label-helper"],
  & [data-part="counter"],
  & [data-part="helper"] {
    color: var(--p-text-color-muted);
  }

  &[data-disabled] {
    background-color: transparent;
    border-color: transparent;

    [data-part="label"] {
      color: var(--p-text-color-disabled);
    }

    [data-part="label-helper"],
    [data-part="counter"],
    [data-part="helper"] {
      color: var(--p-text-color-muted-disabled);
    }
  }

  &:not([data-disabled]) *::placeholder {
    color: var(--p-placeholder-color, var(--p-neutral-500));
  }

  &[data-disabled] *::placeholder {
    color: var(--p-placeholder-color-disabled, var(--p-neutral-300));
  }

  &[data-color]:not([data-color="neutral"]):not([data-disabled]) {
    --p-bg-color: var(--p-intent-light);
    --p-border-color: var(--p-intent-base);
    --p-border-color-focus: var(--p-intent-base);
    --p-border-color-hover: var(--p-intent-base);

    &,
    & * {
      color: var(--p-intent-text);
    }

    [data-part="label"] {
      color: var(--p-neutral-800);
    }

    [data-part="label-helper"],
    [data-part="counter"],
    [data-part="helper"] {
      color: var(--p-intent-text);
    }
  }

  [data-color-system="field"] [data-part="container"] {
    border-color: var(--p-border-color);
  }
}