// button.scss
.p-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all var(--p-transition-duration, 0.3s) var(--p-transition-easing, ease);
  text-align: center;
  outline: none;
  min-height: max-content;
  position: relative;
  overflow: hidden;

  &:focus {
    outline: none;
  }
}

.p-btn-icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;

  /* Component specific variables for parts */
  --p-btn-icon-start-display: flex;
  --p-btn-icon-start-width: 100%;
  --p-btn-icon-start-justify: flex-start;

  --p-btn-icon-end-display: flex;
  --p-btn-icon-end-width: 100%;
  --p-btn-icon-end-justify: flex-end;

  &[data-part="icon-start"] {
    display: var(--p-btn-icon-start-display);
    width: var(--p-btn-icon-start-width);
    justify-content: var(--p-btn-icon-start-justify);
  }

  &[data-part="icon-end"] {
    display: var(--p-btn-icon-end-display);
    width: var(--p-btn-icon-end-width);
    justify-content: var(--p-btn-icon-end-justify);
  }
}

.p-btn-max-content {
  width: max-content !important;
  min-width: max-content !important;
  height: max-content !important;
}

.p-btn-block {
  display: flex;
  width: 100% !important;
  justify-content: space-between;
}
