// petra-tokens/components/otp-input.scss
.p-otp-input {
  width: 100%;
  display: flex;
  flex-direction: column;

  & > * + * {
    margin-block-start: 0.375rem;
  }
}

.p-otp-input-wrapper {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  height: max-content;
}

.p-otp-input-text-input {
  font-weight: 500;
  text-align: center;
  font-size: 1.25rem;
  line-height: 1.75rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  @media (min-width: 1280px) {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
}

.p-otp-input-item {
  overflow: hidden;
}
