// switch.scss
.p-switch-wrapper {
  display: inline-flex;
  align-items: center;
  gap: var(--p-toggle-gap, 0.5rem);
  width: 100%;
  max-width: 2rem;
  position: relative;
  user-select: none;
  transition: all 0.2s ease;
  padding-block: var(--p-space-y-md, 0.375rem);

  .p-switch {
    width: 100%;
    border: none;
    transition: background-color var(--p-transition-duration, 0.3s) var(--p-transition-easing, ease);
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: var(--p-radius-full, 9999px);
    outline: none;
    cursor: pointer;
    padding: 0.25rem;

    &:focus-visible {
      box-shadow: 0 0 0 2px white, 0 0 0 4px var(--p-primary-500);
    }

    .p-switch-indicator-wrapper {
      transition: transform 0.3s ease-in-out;
      will-change: transform;
      width: 100%;
    }
  }

  .p-switch-bg-inner {
    transform: translateX(-100%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: var(--p-radius-full, 9999px);
    transition: transform 0.3s ease-in-out;
    z-index: 0;
  }

  &[data-state="checked"] .p-switch-bg-inner,
  &.p-switch-active .p-switch-bg-inner {
    transform: translateX(0);
  }

  .p-switch-inner-container {
    width: 100%;
    pointer-events: none;
  }

  .p-switch-active-content-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    padding-inline: 0.5rem;
  }

  .p-switch-indicator-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: max-content;
    padding: 0.25rem;
    z-index: 2;
    pointer-events: none;
  }
}

.p-switch-indicator {
  border-radius: var(--p-radius-full, 9999px);
  box-shadow: var(--p-shadow, 0 1px 3px 0 rgb(0 0 0 / 0.1));
}
