// petra-tokens/styles/style.scss — v2.0
@use "../primitive/index.scss" as *;
@use "../semantic/index.scss" as *;

// All Schemes
@use "../schemes/size/index.scss" as *;
@use "../schemes/color/index.scss" as *;
@use "../schemes/style/index.scss" as *;

@use "utilities.scss" as *;
@use "sp-utilities.scss" as *;
@use "global-shapes.scss" as *;

@use "./theme/default.scss" as *;

.border-p-style {
  border-style: var(--p-outline-border-style);
}

.border-p-width {
  border-width: var(--p-outline-border-width);
}

.scrollbar-hidden {
  overflow: hidden;
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}
