// petra-tokens/styles/style.scss — v2.0
@use "../primitive" as *;
@use "../semantic" as *;

// Size Schemes
@use "../schemes/size/basic" as *;
@use "../schemes/size/field" as *;
@use "../schemes/size/toggle" as *;

// Color Schemes
@use "../schemes/color/action" as *;
@use "../schemes/color/field" as *;
@use "../schemes/color/toggle" as *;
@use "../schemes/color/content" as *;
@use "../schemes/color/divider" as *;
@use "../schemes/color/range" as *;

// Style Schemes (Highest Priority — Overrides)
@use "../schemes/style/global" as *;
@use "../schemes/style/action" as *;
@use "../schemes/style/field" as *;

@use "utilities" as *;
@use "sp-utilities" as *;

@import "./theme/light.css";

.border-p-style {
  border-style: var(--p-outline-border-style);
}

.border-p-width {
  border-width: var(--p-outline-border-width);
}

.scrollbar-hidden {
  overflow: hidden;
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Edge */
}
